
<!-- <div class="btn btn-success" style="position:fixed; top:40px;left:20px;" ng-class="{'active': site}" ng-click="site=!site">Site</div> -->
<div class="btn btn-danger" style="position:fixed; top:80px;left:20px;z-index:100;" ng-class="{'active': stats}"  ng-click="stats=!stats">Stats</div>
<div class="btn btn-primary" style="position:fixed; top:120px;left:20px;z-index:100;" ng-click="reset()">Reset</div>
<div  ng-class="{'show-stats': stats}">
  <div class="dimmer"></div>

  <div class="stats">
    <div class="container" ui-view="stats"></div>
  </div>
  <div class="site">
    <div class="container" ui-view="site"></div>
  </div>
</div>