<div class="row">
  <div class="col-md-3">
    <span class="h3">{{collection.Model.prototype.schema.type}}</span>
  </div>
  <div class="col-md-3">
    <input class="form-control" ng-model="getInput">
  </div>
  <div class="col-md-6">
    <button
      class="btn btn-danger btn-xs"
      ng-click="collection.clear()"
    >Clear</button>
    <button
      class="btn btn-success btn-xs"
      ng-click="collection.all()"
    >All</button>
    <button
      class="btn btn-primary btn-xs"
      ng-click="collection.get(getInput)"
    >Get</button>
  </div>
</div>
<small>Updated {{updateDiff}} seconds from now</small>

<div class="well" ng-if="equals(collection.data,{}) === false">
  <div ng-repeat="object in collection.data" class="row" style="margin-bottom: 5px">
    <div class="col-md-6">
      <small clip-copy="object.data.id">{{object.toString()}}</small>
    </div>
    <div class="col-md-6">
      <button class="btn btn-default btn-xs pull-left" clip-copy="object.data.id">Copy ID</button>
      <button
        class="btn btn-danger btn-xs pull-left"
        ng-click="collection.remove(object.data.id)"
        style="margin-left: 5px"
      >Remove</button>
    </div>
  </div>
</div>