

<h3 class="h3">{{collection.type}}
  <json-formatter style="display: inline;" json="collection.params" open="0"></json-formatter>
</h3>
<small>Loading {{collection.loadingCount}}:{{collection.loading}}</small>

<div class="row">
  <div class="ui mini icon input">
    <input type="text" placeholder="Object ID" ng-model="getInput">
    <i class="search icon"></i>
  </div>

  <button promise-button
    class="ui button mini primary"
    ng-click="collection.get(getInput)"
    ng-class="{disabled: getInput === undefined || getInput.length === 0}"
  >Get</button>
  <button promise-button
    class="ui button mini green"
    ng-click="collection.refresh()"
  >Refresh</button>

  <button
    class="ui button mini yellow"
    ng-click="add()"
  >Add</button>

  <div
    ui-dropdown
    class="ui mini selection dropdown"
    ng-model="filterKey"
  >
    <div class="ui mini icon input">
      <input type="hidden" name="gender">
    </div>
    <i class="dropdown icon"></i>
    <div class="default text">Key</div>
    <div class="menu">
      <div
        class="item"
        data-value="{{key}}"
        ng-repeat="(key, schema) in collection.resource.schema.attributes"
      >
        {{key}}
      </div>
    </div>
  </div>
  <button
    class="ui button mini violet"
    ng-click="addFilter(filterKey)"
    ng-class="{disabled: filterKey === undefined}"
  >Add Filter</button>
   <button
    class="ui button mini red"
    ng-click="clearFilter()"
    ng-show="collection.params.filter"
  >Clear Filter</button>

  <div class="ui red basic mini right floated button" ng-hide="collection.synchronized">Synchronizing...</div>
  <div
    class="ui basic mini right floated button"
    ng-show="collection.synchronized"
    ng-class="{
      green: updateDiff <= 30,
      yellow: updateDiff > 30 && updateDiff < 240,
      red: updateDiff >= 240
    }"
  >Synchronized {{updateDiff}} s. ago</div>
</div>

<div ng-show="filtersArray.length" class="ui hidden divider"></div>

<div class="ui small form">
  <div class="fields" ng-repeat="filter in filtersArray">
    <div class="field">
      <label ng-show="$first">Key</label>
      <div class="ui mini input">
        <input type="text" ng-model="filter.key" placeholder="Key" readonly="readonly">
      </div>
    </div>
    <div class="field">
      <label ng-show="$first">Value</label>
      <div class="ui mini input">
        <input type="text" ng-model="filter.value" placeholder="Value">
      </div>
    </div>
    <div class="field">
      <label ng-show="$first" style="visibility: hidden">Remove</label>
      <button class="mini red right labeled icon ui button" ng-click="removeFilter($index)">
        <i class="remove icon"></i>
        Remove
      </button>
    </div>
  </div>
  <button ng-show="filtersArray.length" class="mini violet right labeled icon ui button" ng-click="filter()">
    <i class="filter icon"></i>
    Filter
  </button>
</div>

<div class="ui divider"></div>

<error-message ng-show="collection.hasErrors()" data="collection.errors"></error-message>

<div ng-show="collection.error" class="ui divider hidden"></div>

<div class="collection" ng-show="filteredObjects.length > 0">
  <h3>New objects</h3>

  <angular-jsonapi-object
    nested="false"
    data="object"
    ng-repeat="object in filteredObjects = (newObjects | filter: {new: true})"
  ></angular-jsonapi-object>

</div>


<div class="collection">
  <h3 ng-hide="filtersArray.length">All objects</h3>
  <h3 ng-show="filtersArray.length">Filtered objects</h3>

  <div
    ng-show="collection.pristine && collection.loading"
    class="ui large active text loader"
  >
    Loading collection for the first time
  </div>

  <div
    ng-show="collection.pristine && !collection.loading"
    class="ui large active text loader"
  >
    Collection not synchronized, refresh it to fetch data
  </div>

  <angular-jsonapi-object
    nested="false"
    data="object"
    ng-repeat="object in collection.data"
  ></angular-jsonapi-object>

  <div class="ui basic segment fixed bottom">
    <div class="ui black button" ng-click="close()">Close all models</div>
    <div class="ui grey button" ng-click="clear()">Clear cache</div>
  </div>
</div>