

<h3 class="h3">{{collection.type}}</h3>

<div class="row">
  <div class="ui mini icon input">
    <input type="text" placeholder="Object ID" ng-model="getInput">
    <i class="search icon"></i>
  </div>

  <button promise-button
    class="ui button mini primary"
    ng-click="collection.get(getInput)"
  >Get</button>
  <button promise-button
    class="ui button mini green"
    ng-click="collection.refresh()"
  >Refresh</button>

  <button promise-button
    class="ui button mini yellow"
    ng-click="collection.refresh()"
  >Add</button>

  <div class="ui red basic mini right floated button" ng-hide="collection.synchronized">Synchronizing...</div>
  <div
    class="ui basic mini right floated button"
    ng-show="collection.synchronized"
    ng-class="{
      green: updateDiff <= 30,
      yellow: updateDiff > 30 && updateDiff < 240,
      red: updateDiff >= 240
    }"
  >Synchronized {{updateDiff}} s. ago</div>
</div>

<div class="ui divider"></div>

<div
  ng-show="!collection.synchronized && collection.data === undefined"
  class="ui large active text loader"
>
  Loading collection for the first time
</div>

<div
  ng-show="collection.synchronized && collection.data === undefined"
  class="ui large active text loader"
>
  Collection not synchronized, refresh it to fetch data
</div>

<error-message ng-show="collection.error" data="collection.errors"></error-message>

<div ng-show="collection.error" class="ui divider hidden"></div>

<angular-jsonapi-object nested="false" data="object" ng-repeat="object in collection.data"></angular-jsonapi-object>

<div class="ui basic segment fixed bottom">
  <div class="ui black button" ng-click="close()">Close all models</div>
  <div class="ui grey button" ng-click="clear()">Clear cache</div>
</div>