<div class="ui category search focus">
  <div class="ui mini left icon input" ng-class="{loading: loading, error: error, 'right action': show}">
    <input ng-focus="showResults()" ng-model="input" placeholder="Add {{object.schema.relationships[key].model}}" autocomplete="off" ng-disabled="loading">
    <i class="plus icon"></i>
    <button class="ui red mini icon button" ng-show="show" ng-focus="hideResults()">
      <i class="remove icon"></i>
    </button>
  </div>
  <div class="ui left pointing red basic label" ng-show="error">
      {{errorText}}
  </div>
  <div class="results" ng-show="show">
    <div
      class="category"
      ng-repeat="(name, collection) in filteredCollections = (collections | angularJsonapiSearchCollection : input)"
    >
      <div class="name" ng-click="setInput('')">{{name}}</div>
      <a
        class="result"
        ng-repeat="object in filteredCollection = (collection | angularJsonapiSearchObject : input : object.relationships[key] : true)"
        ng-click="addLink(object)"
      >
        <div class="content">
          <div class="title">{{object.toString()}}</div>
          <div class="description">{{object.data.id}}</div>
        </div>
      </a>

      <a class="result" ng-show="filteredCollection.length === 0" ng-click="setInput(name)">
        <div class="content">
          <div class="title">{{collection.length}} objects</div>
          <div class="description">Type full name of model to unroll or typeahead with new word</div>
        </div>
      </a>
    </div>

    <div class="message empty" ng-show="isEmpty(filteredCollections)">
      <div class="header">No Results</div>
      <div class="description">Your search returned no results</div>
    </div>
  </div>
</div>