<div>
  <br>
  <small clip-copy="object.data.id">Id: {{object.data.id}}</small>
  <button class="btn btn-default btn-xs" clip-copy="object.data.id">Copy ID</button>
  <br>
  <small>Updated {{updateDiff}} seconds from now</small>


  <hr>
  <div ng-init="collapsedEdit=true" ng-click="collapsedEdit=!collapsedEdit">
    <span class="h3"  style="margin-right:15px;">Edit</span>
    <span ng-show="collapsedEdit" class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span ng-hide="collapsedEdit" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
  </div>
  <form collapse="collapsedEdit">
    <br>
    <div ng-repeat="(attribute, value) in object.form.data" class="form-group">
      <input ng-model-options="{ debounce: 100 }" type="text" class="form-control" id="{{attribute}}" ng-model="object.form.data[attribute]" placeholder="{{attribute}}">
      <span id="helpBlock" ng-repeat="error in object.form.errors.validation[attribute]" class="help-block">{{error}}</span>
    </div>
    <button ng-click="object.form.save()" class="btn btn-primary">Update</button>
    <button ng-click="object.remove()" class="btn btn-danger">Remove</button>
    <button ng-click="object.refresh()" class="btn btn-default">Refresh</button>
  </form>
  <hr>

  <div ng-init="collapsedLinks=false" ng-click="collapsedLinks=!collapsedLinks">
    <span class="h3" style="margin-right:15px;">Links</span>
    <span ng-show="collapsedLinks" class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span ng-hide="collapsedLinks" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
  </div>

  <div collapse="collapsedLinks">
    <div ng-repeat="(link, value) in object.links">
      <div ng-if="isArray(value)">
        <h4>{{link}} hasMany</h4>
        <div class="row" ng-repeat="value in value">
          <div class="col-md-12">
            <p clip-copy="value.data.id" class="pull-left">{{value.toString()}}</p>
            <button clip-copy="value.data.id" class="btn btn-default btn-xs">copy id</button>
            <button ng-click="object.removeLink(link, value)" class="btn btn-danger btn-xs pull-right">Remove</button>
          </div>
        </div>
      </div>
      <div ng-if="!isArray(value)">
        <h4>{{link}} hasOne</h4>
        <div ng-if="value" class="row">
          <div class="col-md-12">
            <p clip-copy="value.data.id" class="pull-left">{{value.toString()}}</p>
            <button clip-copy="value.data.id" class="btn btn-default btn-xs">copy id</button>
            <button ng-click="object.removeLink(link, value)" class="btn btn-danger btn-xs pull-right">Remove</button>
          </div>
        </div>
      </div>
      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control input-sm" ng-model="uuids[link]" placeholder="uuid4">
        </div>
        <button class="btn btn-primary btn-sm pull-right" ng-click="object.addLinkById(link, object.schema.links[link].model, uuids[link])" type="button">Add</button>
      </form>
    </div>
  </div>
  <hr>

  <h3>Json</h3>
  <json-formatter json="object" open="0"></json-formatter>
  <hr>
</div>