<div class="ui list">
  <div class="item" ng-repeat="errorCategory in errors">
    <i class="thumbs outline down icon"></i>
    <div class="content">
      <div class="header">{{errorCategory.name}}</div>
      <div class="description">{{errorCategory.description}}</div>
      <div class="list">
        <div class="item" ng-repeat="error in errorCategory.errors">
          <i class="warning icon"></i>
          <div class="content">
            <div class="header">{{error.statusText}}</div>
            <div class="description">Numeric status: {{error.status}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>