<!doctype html>
<html ng-app="angularJsonapiExample">
  <head>
    <meta charset="utf-8">
    <title>angularJsonapi</title>
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1">
    <link rel="shortcut icon" href="favicon.gif" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- <link rel="stylesheet" href="app/vendor.css"> -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body class="pushable">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- <div class="btn btn-danger ng-scope" style="position:fixed; top:80px;left:20px;z-index:100;" ng-class="{'active': stats}" ng-click="stats=!stats">Stats</div>
    <div class="btn btn-primary ng-scope" style="position:fixed; top:120px;left:20px;z-index:100;" ng-click="clear()">Clear</div> -->
    <sidebar></sidebar>
    <ui-view class="pusher site"></ui-view>
    <!-- <div ng-class="{'show-stats': stats}">
      <div class="site">
        <div class="ui container" ui-view='site'></div>
      </div>
      <div class="stats">
        <div class="ui container" ui-view='stats'></div>
      </div>
    </div> -->
    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js(.) scripts/lib.js -->
    <!-- lib:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,demo}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
